#title{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
}

/* div de paramètres et contrôles */
#settings-open-button{
    position: absolute;
    right: 10px;
    top: 10px;
}

#settings-open-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#settings-close-button{
    cursor: pointer;
}

#settings{
    flex-direction: column;
    transform: translateX(100%);
    position: absolute;
    padding: 3em;
    z-index: 100;
    right: 0px;
    background-color: #1f1f1f;
    height: 100%;
}


/* paramètres aliens */
#alien-settings{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#alien-row-number{
    width: 2em;
    margin-left: 2em;
}

#alien-row-add-button{
    margin-left: 2em;
    padding: 0.2em 0.5em;
}

#play-button{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}


/* pop-up en cas de non-ajout d'aliens */
#pop-up{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #1f1f1f;
    width: 30em;
    height: 10em;
    justify-content: center;
    align-items: center;
}

#pop-up-close-button{
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}



@keyframes show-settings{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes hide-settings{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}