body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
    color: #52ff00;
    overflow: hidden;
}

header{
    padding: 0.5em;
    position: relative;
}

#level{
    position: absolute;
    left: 10px;
    top: 10px;
}

.button{
    color: #52ff00;
    background-color: #000;
    border-color: #52ff00;
    padding: 0.5em 3em;
    font-size: x-large;
}

.button:hover{
    color: #000;
    background-color: #52ff00;
}


/* pop-up en cas de non-ajout d'aliens */
.pop-up{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
    background-color: #1f1f1f;
    width: 30em;
    height: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up-close-button{
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}