body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
    color: #52ff00;
    overflow: hidden;
}

header{
    padding: 0.5em;
    position: relative;
}

#level{
    position: absolute;
    left: 10px;
    top: 10px;
}

.button{
    color: #52ff00;
    background-color: #000;
    border-color: #52ff00;
    padding: 0.5em 3em;
    font-size: x-large;
}

.button:hover{
    color: #000;
    background-color: #52ff00;
}