#play-view{
    display: none;
}

#pause-button{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

#score{
    position: absolute;
    right: 10px;
    top: 10px;
}

#pause-pop-up{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}