#video-view {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#take-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
}